
@use '../utilities/variables';
@use '../utilities/mixins';

.indice {
  padding-left: variables.$espaciado-grande;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-left: variables.$espaciado-chico;
  h1 {
    font-weight: variables.$font-weight-semibold;
    color: variables.$color-text-primary;
  }
}

.hamburguesas {
  display: flex;
  flex-direction: column;
  padding-left: variables.$espaciado-chico;
  h2 {
    @include mixins.text-center(variables.$espaciado-chico);
    margin-top: variables.$espaciado-chico;
    font-weight: variables.$font-weight-semibold;
    color: variables.$color-text-primary;
  }
  
  &-container {
    display: flex;
    gap: variables.$espaciado-grande;
    @include mixins.movil {flex-direction: column}
  }
}

.hamburguesa {
  display: flex;
  flex-direction: column;
  padding: variables.$espaciado-chico;
  h3 {
    @include mixins.text-center(variables.$espaciado-chico);
    color: variables.$color-text-primary;
  }
  
  p {
    @include mixins.text-center(variables.$espaciado-chico);
    line-height: 1.1;
    color: #2f2f2f;
    margin: 0 0 variables.$espaciado-chico 0;
  }
  
  img {
    @include mixins.image-hover();
    margin-bottom: variables.$espaciado-chico;
  } 
}
