
// Colores principales
$color-primary: #5D4037;
$color-secondary: #c27b34;
$color-background: #f3efe2;
$color-card: #f0eee7;
$color-card-light: #fdfbf5;
// Colores de texto
$color-text-primary: #333;
$color-text-secondary: #1c1c1c;
$color-text-light: #777;
$color-text-white: white;
$color-text-dark: #000000;

// Tipografías
$font-family-primary: 'Roboto', Helvetica, Arial, sans-serif;

// Espaciados
$espaciado-chico: 0.5rem;   // 8px
$espaciado-medio: 1rem;     // 16px
$espaciado-grande: 1.5rem;   // 24px

// Tamaños de fuente
$font-size-chico: 0.85rem;
$font-size-normal: 1rem;
$font-size-normal-mas: 1.2rem;
$font-size-grande: 1.5rem;
$font-size-extra-grande: 2.5rem;

// Peso de fuente
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Bordes y radios
$border-radius-chico: 10px;
$border-radius-mediano: 15px;
$border-radius-redondo: 50%;

// Sombras
$shadow-suave: 0 0 8px rgba(0, 0, 0, 0.5);
$shadow-medio: 0 4px 12px rgba(0, 0, 0, 0.1);
$shadow-fuerte: 0 0 20px rgba(0, 0, 0, 0.5);
$shadow-avatar: 0 0 10px rgba(0, 0, 0, 0.3);

// Gradientes
$gradient-cubrir-poco: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$gradient-cubrir-medio: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$gradient-form: linear-gradient(rgba(10, 11, 11, 0.8) 70%, rgba(0, 0, 0, 0.6) 100%);
$gradient-dark: linear-gradient(91deg, rgba(0, 0, 0, 0.8) 10%, rgba(8, 8, 8, 0.12) 100%);


$breakpoint-mobile: 768px;